$graduate: "Graduate,cursive";
@mixin TextStyle(){
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.wrap{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* === General === */
body{
	padding-top: 50px;
	background:url("../img/texture.png") top left repeat;
}

h1{
	font-family: "graduate",cursive !important;
}

h2{
	font-family: 'pacifico',cursive !important;
}

/* Title & Enroll */
#title-enroll{
	.jumbotron{
		background: url("../img/mainBackground.png") 50% 0 no-repeat fixed;
		color: #fff;
		text-align: center;
		p{
			@include TextStyle();
		}
	}
}


#what-learn{
	text-align: left;
	h2 {text-align: center;}
	.section{
		text-align: center !important;
	}
}

#course-target{
	background-color:#BF3E11;
	color:#fff;
	.header-section{
		text-align: center;
		@include TextStyle();	
		.forwho{
			text-align: left;
		}
	}
}

#course-features{
	background-color:#fff;
	text-align:center;
	h4{
		@include TextStyle();
	}
	.header-section{
		margin-bottom: 20px;
	}
}

#instructor{
	.left-side{
		text-align: center;
	}
	.badge{
		&.social{
			background-color: #95A5A6;
			font-size: 20px;
			height: 35px;
			width: 35px;
			text-align: center;
			line-height:35px;
			margin-top: 5px;
			padding: 0;
			border-radius: 35px; 
			color:white;
			&:hover{
				&.twitter{
					background-color:#55ACEE;
				}
				&.linkedin{
					background-color:#4875B4;
				}
				&.blog{
					background-color:#26c281;
				}
			}
		}
	}
}

#promotional-video{
	background-color:#563D7C;
	h2{
		text-align: center;
		color:#fff;
	}
}

#footer{
	padding:20px;
	background-color:#22313f;
	color:#fff;
	a{
		color:#f5ab35;
		&:hover{
			color:#F9690E;
		}
	}
}

#discussions{
	background-color:#fff;
	#btn-form{
		text-align:right;
		margin-top: 5px;
	}

	#btn-form-answer{
		 @extend #btn-form;
	}
}

#admin-course{
	.container{
		background-color:#fff;
		min-height:600px;
	}

	.panel-heading{
		a{
			color:white;
		}
	}
}